<%- include('header'); -%>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Not Found</h5>
            <p>Page or file not found.</p>
            <p><a href="/">Go to homepage</a></p>
        </div>
    </div>
    <%- include('footer'); -%>