body {
    color: white !important;
    background-color: #38b6ff !important;
}

div.container {
    max-width: 26rem;
}

div.card {
    background-color: #184b7a;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

div.logo {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}