body {
    color: white !important;
    background-color: #38b6ff !important;
}

div.container {
    max-width: 26rem;
}

div.card {
    background-color: #184b7a;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

div.logo {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.icon {
    width: 1em;
    display: inline;
    margin-right: 40px;
    position: relative;
    top: 0.15em;
}

div.progress {
    height: 2rem;
    align-items: center;
}

div.progress-bar {
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.display-none {
    display: none;
}
